/*
*		Renders the 1 column layout for most of the pages.  This can be enherited on per model basis.
*
*/
/** -------------------------------------------------------------------
Name:              1Column
Location:          /Html/General/Layouts/1Column.html
Created By:        Seth Malaki
Created At:        22-Okt-2014 19:00 (myupdates in adding comments)
Last modified By:  Seth Malaki
Last modified At:  23-Okt-2014 17:52 (myupdates in adding comments)
Calling blocks:    breadcrumb 	Footer 	header 	mainContent 	notification 	
--------------------------------------------------------------------**/

[:HeaderBlock]
<div class="one-column [?Design.DesignSelectionName,vPageWidth|UseFullWidth=container-fluid|=container-fluid] row">
	
	[:Notification]
	<div class="main-content " style="min-height: 400px;">
		[:mainContent]
	</div>
</div>

	[:FooterBlock]


